<a href="https://colab.research.google.com/github/Yash2004Codes/PDS_PROJECT/blob/main/PDS_PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#pds project

import pandas as pd

# Load the dataset
data = pd.read_csv("StudentPerformanceFactors.csv")

# Display the first few rows of the dataset to understand its structure
data.head()

# Check for missing values in the dataset
missing_values = data.isnull().sum()
missing_values


# Fill missing values in categorical columns with the mode (most common value)
data['Teacher_Quality'].fillna(data['Teacher_Quality'].mode()[0], inplace=True)
data['Parental_Education_Level'].fillna(data['Parental_Education_Level'].mode()[0], inplace=True)
data['Distance_from_Home'].fillna(data['Distance_from_Home'].mode()[0], inplace=True)

# Verify if all missing values have been filled
missing_values_after_fill = data.isnull().sum()
missing_values_after_fill

<ipython-input-4-f2402e6623db>:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Teacher_Quality'].fillna(data['Teacher_Quality'].mode()[0], inplace=True)
<ipython-input-4-f2402e6623db>:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Parental_Education_Level'].fillna(data['Parental_Education_Level'].mode()[0], inplace=True)
<ipython-input-4-f2402e6623db>:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Distance_from_Home'].fillna(data['Distance_from_Home'].mode()[0], inplace=True)

Hours_Studied                 0
Attendance                    0
Parental_Involvement          0
Access_to_Resources           0
Extracurricular_Activities    0
Sleep_Hours                   0
Previous_Scores               0
Motivation_Level              0
Internet_Access               0
Tutoring_Sessions             0
Family_Income                 0
Teacher_Quality               0
School_Type                   0
Peer_Influence                0
Physical_Activity             0
Learning_Disabilities         0
Parental_Education_Level      0
Distance_from_Home            0
Gender                        0
Exam_Score                    0
dtype: int64

In [12]:
import pandas as pd

# Convert the data to a DataFrame
df = pd.DataFrame(data)
# Define the mapping
level_mapping = {'Low': 1, 'Medium': 2, 'High': 3}
education_mapping ={'High School':1,'College':2,'Postgraduate':3}
distance_mapping ={'Near':1,'Moderate':2,'Far':3}
peers_mapping ={'Negative':-1,'Neutral':0,'Positive':1}

# Specify the columns to encode
columns_to_encode = ['Parental_Involvement', 'Access_to_Resources',
'Motivation_Level','Family_Income','Teacher_Quality']
columns_to_encode2 =['Parental_Education_Level']
columns_to_encode3 =['Distance_from_Home']
columns_to_encode4 =['Peer_Influence']


#label or level encoding
# Apply the mapping to each column in columns_to_encode
for col in columns_to_encode:
    df[col] = df[col].map(level_mapping)

# Automatically find columns with only two unique values
binary_columns = [col for col in df.columns if df[col].nunique() == 2]

#binary encoding
#Apply binary encoding (0 and 1) to those columns
for col in binary_columns:
    df[col] = df[col].map({df[col].unique()[0]: 0, df[col].unique()[1]: 1})

for col in columns_to_encode2:
    df[col] = df[col].map(education_mapping)

for col in columns_to_encode3:
    df[col] = df[col].map(distance_mapping)

for col in columns_to_encode4:
    df[col] = df[col].map(peers_mapping)

print(df)

      Hours_Studied  Attendance  Parental_Involvement  Access_to_Resources  \
0                23          84                     1                    3
1                19          64                     1                    2
2                24          98                     2                    2
3                29          89                     1                    2
4                19          92                     2                    2
...             ...         ...                   ...                  ...
6602             25          69                     3                    2
6603             23          76                     3                    2
6604             20          90                     2                    1
6605             10          86                     3                    3
6606             15          67                     2                    1

      Extracurricular_Activities  Sleep_Hours  Previous_Scores  \
0                              0            7               73
1                              0            8               59
2                              1            7               91
3                              1            8               98
4                              1            6               65
...                          ...          ...              ...
6602                           0            7               76
6603                           0            8               81
6604                           1            6               65
6605                           1            6               91
6606                           1            9               94

      Motivation_Level  Internet_Access  Tutoring_Sessions  Family_Income  \
0                    1                0                  0              1
1                    1                0                  2              2
2                    2                0                  2              2
3                    2                0                  1              2
4                    2                0                  3              2
...                ...              ...                ...            ...
6602                 2                0                  1              3
6603                 2                0                  3              1
6604                 1                0                  3              1
6605                 3                0                  2              1
6606                 2                0                  0              2

      Teacher_Quality  School_Type  Peer_Influence  Physical_Activity  \
0                   2            0               1                  3
1                   2            0              -1                  4
2                   2            0               0                  4
3                   2            0              -1                  4
4                   3            0               0                  4
...               ...          ...             ...                ...
6602                2            0               1                  2
6603                3            0               1                  2
6604                2            0              -1                  2
6605                2            1               1                  3
6606                2            0               1                  4

      Learning_Disabilities  Parental_Education_Level  Distance_from_Home  \
0                         0                         1                   1
1                         0                         2                   2
2                         0                         3                   1
3                         0                         1                   2
4                         0                         2                   1
...                     ...                       ...                 ...
6602                      0                         1                   1
6603                      0                         1                   1
6604                      0                         3                   1
6605                      0                         1                   3
6606                      0                         3                   1

      Gender  Exam_Score
0          0          67
1          1          61
2          0          74
3          0          71
4          1          70
...      ...         ...
6602       1          68
6603       1          69
6604       1          68
6605       1          68
6606       0          64

[6607 rows x 20 columns]